@page "/"

<div id="index" class="jumbotron">
    <h1 class="display-4">Insurance Quoter</h1>
    <p class="lead">Next Generation, Cloud Native Insurance.</p>
    <hr class="my-4">
    <p>Quote and buy from a panel of insurers in just a few clicks....</p>
</div>

